body{
	/*background-color: #AB6CE6!important;*/
	background:url('../img/sala.jpg') no-repeat!important;
    background-size:100%;
}
.btn{
	border:1px solid #C455A8!important;
	background-color: #C455A8!important	
}

.link{
	color:#C455A8!important;
}

aside{
	color:#fff!important;
	background-color: #C455A8!important;
}

span.page-link{
	border: 1px solid #C455A8!important;
	background-color: #C455A8!important;
	color:#000!important;
}

a.page-link{
	color:#000!important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
	background-color:#E5CDC8!important;
}